form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-family: "Roboto" sans-serif;
  }
  .input-holder {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
  }
  .input-holder > button {
    justify-self: center;
    padding: 12px 25px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    background: orangered;
    color: white;
    border: none;
    font-size: 14px;
    letter-spacing: -0.1px;
    cursor: pointer;
  }
  input,
  textarea,
  kendo-datepicker {
    padding: 12px 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    width: 70%;
    opacity: 0.8;
    font-size: 15px;
    font-weight: normal;
  }
  kendo-datepicker{
    width: 75%;
  }
  
  input:focus,
  textarea:focus,
  button:focus,
  kendo-datepicker:focus {
    border: 2px solid orangered;
    outline: none;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  }