<form (submit)="handleSubmit()" [formGroup]="eventForm">
    <div class="input-holder">
      <input type="text" placeholder="Nom" formControlName="title" />
    </div>
    <div class="input-holder">
      <input type="text" placeholder="Prénom" formControlName="firstname" />
    </div>
    <div class="input-holder">
      <input type="phone" placeholder="Numéro de téléphone" formControlName="phone" />
    </div>
    <div class="input-holder">
      <input type="mail" placeholder="Adresse email" formControlName="mail" />
    </div>
    <div class="input-holder">
      <kendo-datepicker
        formControlName="start"
        placeholder="Jour de réservation"
      ></kendo-datepicker>
   </div>
    <div class="input-holder">
      <kendo-datepicker
        formControlName="end"
        placeholder="Heure de réservation"
      ></kendo-datepicker>
    </div>
    <div class="input-holder">
      <textarea
        placeholder="Que souhaitez-vous faire ?"
        rows="4"
        formControlName="description"
      ></textarea>
    </div>
    <div class="input-holder">
      <button type="submit">Réserver</button>
    </div>
  </form> 