<main>
    <div class="scheduler">
      <app-scheduler [events]="events"></app-scheduler>
    </div>
    <div class="event-form">
      <!-- Event form component comes here -->
      <app-event-form (newEvent)="onNewEvent($event)"></app-event-form>
    </div>
</main>