
<div>
    <kendo-scheduler
      [kendoSchedulerBinding]="events"
      [selectedDate]="selectedDate"
      style="height: 1000px;"
    >      
    <kendo-scheduler-week-view [startTime]="startTime">
    </kendo-scheduler-week-view>
    <kendo-scheduler-day-view [startTime]="startTime">
    </kendo-scheduler-day-view>

    </kendo-scheduler>
  </div>